.articleFeatures-container {
  height: auto;
  margin: 160px 0;
  width: 100%;

  h3 {
    margin-bottom: 32px;
  }

  .features-section {
    width: 635px;
    height: auto;
  }

  ul {
    width: max-content;
    height: auto;
    padding-right: 100px;

    li:not(:last-child) {
      margin-bottom: 12px;
    }

    .quantity {
      margin-right: 24px;
      color: $color-orange;
    }
  }
}
