.checkout-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: $color-grey;

  .empty-div {
    margin: auto;
    text-align: center;
    height: max-content;
  }

  .checkout-div {
    width: 1110px;
    height: auto;
    margin: 79px auto 141px;
  }

  .main-div {
    gap: 30px;
  }

  .recapArticle-div {
    margin: 32px 0;
  }

  .articleCart-container:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1170px) {
  .checkout-container {
    .checkout-div {
      width: fit-content;
    }

    .main-div {
      flex-direction: column;
    }

    .recapCart-container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  .checkout-container {
    .checkout-div {
      width: 95%;
    }
  }
}

@media screen and (max-width: 700px) {
  .checkout-container {
    .checkout-div {
      margin: 16px auto 97px;
    }
  }
}
