.home-container {
  width: 100%;
  height: auto;

  .list-div {
    width: 1110px;
    min-height: 20px;
    height: auto;
    margin: 0 auto 200px;
  }

  .speaker9-div {
    position: relative;
    padding-right: 95px;
    overflow: hidden;
    height: 560px;
    background-color: $color-orange;
    background-image: url(../../../public/assets/home/desktop/pattern-circles.svg);
    background-size: 944px;
    background-repeat: no-repeat;
    background-position: left -149px top -36px;

    .image-div {
      position: absolute;
      bottom: -30px;
      left: 117px;
      width: 410px;
      height: 493px;
      background-image: url(../../../public/assets/home/desktop/image-speaker-zx9.svg);
      background-size: 410px;
    }

    .articlePresentation-container {
      margin-left: auto;
      align-self: center;
      width: 349px;
      height: min-content;
      background-color: transparent;
      color: #fff;

      h2 {
        font-weight: 700;
        font-size: 56px;
        line-height: 58px;
      }

      .description {
        width: 100%;
        opacity: 0.75;
      }

      button {
        background-color: #000000;
        color: #fff;

        &:hover {
          background: #4c4c4c;
        }
      }
    }
  }

  .speaker7-div {
    margin: 48px 0;
    height: 320px;
    padding-left: 95px;
    background-image: url(../../../public/assets/home/desktop/image-speaker-zx7.jpg);
    background-size: cover;
    background-position: center;

    section {
      align-self: center;
      width: max-content;
      height: 118px;

      h4 {
        margin-bottom: 32px;
      }

      button {
        border: 1px solid #000000;
        color: #000000;
        background-color: transparent;

        &:hover {
          background-color: #000000;
          color: #fff;
        }
      }
    }
  }

  .earphones-div {
    height: 320px;

    .background-div,
    .section-div {
      width: 540px;
      height: 320px;
    }

    .background-div {
      background-image: url(../../../public/assets/home/desktop/image-earphones-yx1.svg);
      background-size: cover;
      background-position: center;
    }

    .section-div {
      padding-left: 95px;
      background-color: $color-grey;

      section {
        align-self: center;

        h4 {
          margin-bottom: 32px;
        }

        button {
          border: 1px solid #000000;
          color: #000000;
          background-color: transparent;

          &:hover {
            background-color: #000000;
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-container {
    .list-div {
      width: 90%;
    }

    .category-container {
      width: 90%;
    }

    .earphones-div {
      .background-div,
      .section-div {
        width: 48%;
      }
    }
  }
}

@media screen and (max-width: 1090px) {
  .home-container {
    .speaker9-div {
      background-image: url(../../../public/assets/home/desktop/pattern-circles.svg);
      background-size: 944px;
      background-position: left -200px top -36px;

      .image-div {
        left: 60px;
      }
    }

    .earphones-div {
      .section-div {
        padding: 0;
      }

      section {
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .home-container {
    .speaker9-div {
      height: 720px;
      background-position: center top -270px;
      padding: 0;

      .image-div {
        width: 197px;
        height: 237px;
        left: 50%;
        transform: translateX(-50%);
        top: 52px;
        background-image: url(../../../public/assets/home/tablet/image-speaker-zx9.png);
        background-size: cover;
      }

      .articlePresentation-container {
        margin: 353px auto 0;
        width: 349px;
        height: min-content;
        background-color: transparent;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .home-container {
    .earphones-div {
      .background-div {
        background-image: url(../../../public/assets/home/mobile/image-earphones-yx1.jpg);
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .home-container {
    .earphones-div {
      height: auto;
      flex-direction: column;
      gap: 24px;

      .background-div,
      .section-div {
        width: 100%;
        height: 320px;
      }

      section {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .home-container {
    .speaker7-div {
      padding: 0;

      section {
        margin: auto;
        text-align: center;
      }
    }

    .list-div {
      margin: 0 auto 120px;
    }
  }
}
