.home-container {
  width: 100%;
  height: auto;

  .list-div {
    width: 1110px;
    min-height: 20px;
    height: auto;
    margin: 0 auto 200px;
  }

  .speaker9-div:first-child {
    position: relative;
    padding-right: 95px;
    overflow: hidden;
    height: 560px;
    background-color: $color-orange;
    background-image: url(../../../public/assets/home/desktop/pattern-circles.svg);
    background-size: 944px;
    background-repeat: no-repeat;
    background-position: left -149px top -36px;

    .image-div {
      position: absolute;
      bottom: -30px;
      left: 117px;
      width: 410px;
      height: 493px;
      background-image: url(../../../public/assets/home/desktop/image-speaker-zx9.svg);
      background-size: 410px;
    }

    .articlePresentation-container {
      margin-left: auto;
      align-self: center;
      width: 349px;
      height: min-content;
      background-color: transparent;
      color: #fff;

      h2 {
        font-weight: 700;
        font-size: 56px;
        line-height: 58px;
      }

      .description {
        width: 100%;
        opacity: 0.75;
      }

      button {
        background-color: #000000;
        color: #fff;

        &:hover {
          background: #4c4c4c;
        }
      }
    }
  }

  .speaker7-div {
    margin: 48px 0;
    height: 320px;
    padding-left: 95px;
    background-image: url(../../../public/assets/home/desktop/image-speaker-zx7.jpg);

    section {
      align-self: center;
      width: max-content;
      height: 118px;

      h4 {
        margin-bottom: 32px;
      }

      button {
        border: 1px solid #000000;
        color: #000000;
        background-color: transparent;

        &:hover {
          background-color: #000000;
          color: #fff;
        }
      }
    }
  }

  .earphones-div {
    height: 320px;

    .background-div,
    .section-div {
      width: 540px;
      height: 320px;
    }

    .background-div {
      background-image: url(../../../public/assets/home/desktop/image-earphones-yx1.svg);
    }

    .section-div {
      padding-left: 95px;
      background-color: $color-grey;

      section {
        align-self: center;

        h4 {
          margin-bottom: 32px;
        }

        button {
          border: 1px solid #000000;
          color: #000000;
          background-color: transparent;

          &:hover {
            background-color: #000000;
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-container {
    .list-div {
      width: 90%;
    }

    .category-container {
      width: 90%;
    }
  }
}
