.gallery-container {
  width: 100%;
  height: auto;
  gap: 30px;

  div {
    width: 40%;
    height: 100%;
    gap: 32px;
  }

  .large {
    width: 56%;
  }
}

@media screen and (max-width: 600px) {
  .gallery-container {
    flex-direction: column;

    div {
      width: 100%;
    }

    .large {
      width: 100%;
    }
  }
}
